# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Virtual environment
venv/
env/
*.env

# Docker
*.env
.dockerignore

# IDE specific files
.vscode/
.idea/

# Operating System Files
.DS_Store
Thumbs.db

# Application specific
*.log
temp/